<ng-container *ngIf="wrapp">
  <table class="table table-hover table-sm">
    <thead class="thead-light">
     <tr>
       <th>Тема</th>
       <th>Создатель</th>
       <th>Дата создания</th>
       <th>Ответ</th>
       <th>Теги</th>
     </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of wrapp.items" [ngClass]="{'table-success': item.is_answered}">
      <td><a [href]="item.link">{{item.title}}</a></td>
      <td><a [href]="item.owner.link">{{item.owner.display_name}}</a></td>
      <td>{{item.creation_date*1000 | date: 'dd.MM.yyyy'}}</td>
      <td>{{item.is_answered}}</td>
      <td><span *ngFor="let tag of item.tags" class="badge badge-secondary">{{tag}} </span></td>
    </tr>
    </tbody>
  </table>
</ng-container>
