<div class="row">
  <div class="col-md-auto form-group"></div>
</div>
<div class="row justify-content-center">
    <div class="form-inline" (keydown)="keyDownFunction($event)">
      <input class="form-control mb-2 mr-sm-2" [(ngModel)]="title"/>
      <button class="btn btn-primary mb-2" (click)="searchIn('init')">Найти</button>
    </div>
</div>
<ul class="pagination justify-content-center">
  <li class="page-item" (click)="searchIn('prev')"  [ngClass]="{'disabled': page <= 1}"><a class="page-link" href="#" onclick="return false">Предыдущая</a></li>
  <li class="page-item"  (click)="searchIn('next')" [ngClass]="{'disabled': !getHasMore()}"><a class="page-link" href="#" onclick="return false">Следующая</a></li>
</ul>
<router-outlet></router-outlet>
<ul class="pagination justify-content-center">
  <li class="page-item" (click)="searchIn('prev')" [ngClass]="{'disabled': page <= 1}"><a class="page-link" href="#" onclick="return false">Предыдущая</a></li>
  <li class="page-item"  (click)="searchIn('next')" [ngClass]="{'disabled': !getHasMore()}"><a class="page-link" href="#" onclick="return false">Следующая</a></li>
</ul>

