<div class="row">
  <div class="col-md-auto form-group"></div>
</div>
<div class="row justify-content-center">
    <div class="form-inline" (keydown)="keyDownFunction($event)">
      <input class="form-control mb-2 mr-sm-2" [(ngModel)]="title"/>
      <button class="btn btn-primary mb-2" (click)="searchIn('init')">Найти</button>
    </div>
</div>
<span (click)="searchIn('prev')" class="float-left " [ngClass]="{'display-link': page <= 1}"><a href="#" onclick="return false">Предыдущая</a></span>
<span (click)="searchIn('next')" class="float-right" [ngClass]="{'display-link': !getHasMore()}"><a href="#" onclick="return false">Следующая</a></span>
<router-outlet></router-outlet>
<span (click)="searchIn('prev')" class="float-left " [ngClass]="{'display-link': page <= 1}"><a href="#" onclick="return false">Предыдущая</a></span>
<span (click)="searchIn('next')" class="float-right" [ngClass]="{'display-link': !getHasMore()}"><a href="#" onclick="return false">Следующая</a></span>

