<div class="form-inline">
  <label class="mr-sm-2" for="search">Search</label>
  <input class="form-control mb-2 mr-sm-2" id="search" [(ngModel)]="findstring"/>
  <button class="btn btn-primary mb-2" (click)="searchIn('init')">Search</button>
</div>
<div class="form-group">
  <app-table-items-find [wrapp]="wrapp"></app-table-items-find>
</div>
<ul class="pagination" *ngIf="wrapp && wrapp.items">
  <li class="page-item" (click)="searchIn('prev')"><a class="page-link" href="#" onclick="return false">Previous</a></li>
  <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
  <!--<li class="page-item active"><a class="page-link" href="#">2</a></li>-->
  <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
  <li class="page-item"  (click)="searchIn('next')"><a class="page-link" href="#" onclick="return false">Next</a></li>
</ul>

